.btn {
  padding: 1.2rem 1.7rem;
  font-size: 1.6rem;
  background-color: $secondary;
  border: none;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1.2rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s linear;
  box-sizing: border-box;

  &:hover {
    background-color: transparent;
    border: 1px solid $secondary;
    color: white;
  }

  &--outline {
    padding: 1.2rem 1.7rem;
    background-color: transparent;
    border: 1px solid $secondary;
    color: white;
    transition: all 0.2s linear;

    &:hover {
      background-color: $secondary;
      border: 1px solid transparent;
      color: black;
    }
  }
}
